.main{
    padding: 0px 0px 0px 0px;
    display: flex;
    align-items: center;
}
.main > input{
    height: 32px;
    border-radius: 7px;
    border: 0px;
    margin-right: 10px;
    outline: none;
    font-size: 0.9em;
    width: 200px;
    padding-left: 13px;
    padding-bottom: 2px;
}
.main > select{
    height: 32px;
    outline: none;
    font-size: 0.8em;
    border-radius: 7px;
    border: 0px;
    margin-right: 10px;
    padding-left: 13px;
    padding-bottom: 1px;
    width: 200px;
}
.main > button{
    outline: none;
    height: 32px;
    width: 100px;
    border: 0px;
    border-radius: 7px;
    font-size: 0.8em;
}
.main > button:hover{
    cursor: pointer;
    background-color: rgb(221, 212, 212);
}