.item textarea{
    display: block;
    width: 400px;
    height: 120px;
    font-size: 1em;
    background: transparent;
    border-radius: 8px;
    outline: none;
    border: 1px solid white;
    padding: 20px;
    box-sizing: border-box;
}
.item form > div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.item button{
    margin: 10px 0px 30px 0px;
    width: 100px;
    height: 40px;
    font-size: 1em;
    border: 1px solid white;
    border-radius: 8px;
    background-color: transparent;
}

.item .swap{
    display: flex;
    flex-direction: column-reverse;
}
