.main{
    margin: 20px 0px;
}
.main label{
    color:rgba(255, 255, 255, 0.76);
    position: relative;
    bottom: 6px;
    display: inline-block;
}
.main input[type="checkbox"]{
    outline: none;
    width: 30px;
    height: 30px;
    margin: 0px 10px 15px 10px
}
.main input[name="work"]{
    display: none;
}
.main input[type="checkbox"]:checked ~ div > input[name="work"]{
    display: block;
}
.main h4{
    font-size: 1.2em;
    margin: 0px 0px 15px 10px;
}
.main button{
    margin-top: 15px;
    width: 310px;
}
.main span{
    position: absolute;
    left: 350px;
    bottom: 0px;
}
